<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* Bootstrap *@
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap/bootstrap.css" />

    @* MetisMenu *@
    <link rel="stylesheet" type="text/css" href="/Content/metisMenu/metisMenu.css" />

    @* Timeline *@
    <link rel="stylesheet" type="text/css" href="/Content/theme/timeline.css" />

    @* Theme *@
    <link rel="stylesheet" type="text/css" href="/Content/theme/sb-admin-2.css" />

    @* Custom Fonts *@
    <link rel="stylesheet" type="text/css" href="/Content/font-awesome/font-awesome.css" />

    @* Morris Charts *@
    <link rel="stylesheet" type="text/css" href="/Content/morrisjs/morris.css" />

    @* Custom css *@
    <link rel="stylesheet" type="text/css" href="/Content/barcode-shop-floor.css" />

    @* jQuery *@
    <script src="/Scripts/jquery/jquery.js"></script>
    <script src="/Scripts/jquery/jquery-ui.js"></script>

    @* Bootstrap *@
    <script src="/Scripts/bootstrap/bootstrap.min.js"></script>

    @* Angular *@
    <script src="/Scripts/angular/angular.js"></script>
    <script src="/Scripts/angular/angular-animate.js"></script>
    <script src="/Scripts/angular/ui-bootstrap-tpls.js"></script>

    @* MetisMenu *@
    <script src="/Scripts/metisMenu/metisMenu.js"></script>

    @* Morris Charts *@
    @*<script src="/Scripts/morrisjs/morris.js"></script>
        <script src="/Scripts/raphael/raphael.js"></script>
        <script src="/Scripts/morrisjs/morris-data.js"></script>*@

    @* Theme *@
    <script src="/Scripts/theme/sb-admin-2.js"></script>

</head>
<body>
    @RenderBody()

</body>
</html>